# Aprendiendo Pandas y haciendo ejemplos con data de lluvia



> José Domingo Cajina Ramírez   
> 06/02/2020


---



> En este Notebook aprenderemos cosas básicas de la libreria Pandas y sus metodos, asi como tambien, se resumirá el uso de la coleccion diccionarios.

In [0]:
import pandas as pd
import numpy as np
import requests

In [48]:
#Resolviendo algunos ejemplos de la actividad.



data = pd.Series([0.25, 0.5, 0.75, 1.0]) #Se crea un arreglo, relacionandose con un indice
data.values #Nos muestra los valores de el arreglo.
data.index  #Muestra el inicio y fin del arreglo y paso.
data[1] #Nos imprime el primer elemento
data[1:4] #Nos imprime un conjunto de elementos

1    0.50
2    0.75
3    1.00
dtype: float64

In [0]:
#Diccionarios
#Los diccionarios son desordenados
#diccionario = {"clave":"valor", ... , "clave":"valor"}
#Puedes poner otras colecciones dentro de los diccionarios
diccionario = {"azul":"blue","rojo":"red","verde":"green"}
diccionario["amarillo"] = "Yellow" #Agregar nuevo elemento al diccionario
diccionario["azul"] = "BLUE" #Modificar el valor, accesando con la clave
del(diccionario["verde"]) #Eliminar valor, accesando con la clave

diccionario2 = {"Domingo":{"edad":20,"estatura":1.8}, "Jose":[21,1.60],"Maria":[20,1.58]}

print(diccionario)
print(diccionario["rojo"])
print(diccionario2)
print(diccionario2["Domingo"])

equipo = {10:"Paulo Dybala",11:"Douglas Costa",7:"Cristiano Ronaldo",17:"Mario Mandzukic"}

print(equipo.get(10, "No existe un jugador con ese dorsal"))
print(equipo[7])
print(11 in equipo)
print(equipo.keys())
print(equipo.values())
print(equipo.items()) #Recorrer diccionarios con bucle for, pone dentro de tuplas
print(len(equipo))
equipo.clear() #Borrar diccionario
print(equipo)

In [0]:
#Obtenemos los datos desde el repositorio.

#Data lluvia
!wget -cq https://raw.githubusercontent.com/DCIDA2019/da2020-Physicworld/master/Semana2/201901010000Lluv.csv

In [0]:
df = pd.read_csv("201901010000Lluv.csv", encoding='latin-1')
data_lluvia = pd.DataFrame(df) #Usamos un DataFrame para identificar las columnas

In [52]:
data_lluvia.index

RangeIndex(start=0, stop=1241, step=1)

In [53]:
data_lluvia.columns

Index(['LON', 'LAT', 'EDO', 'CLAVE_SIH', 'NOMBRE', 'ENE'], dtype='object')

In [67]:
Longitud = pd.Series(data_lluvia['LON'])
Longitud #Podemos dividir una serie de datos con la funcion Series por columnas.

0      -102.309722
1      -102.466944
2      -102.184167
3      -102.712222
4      -102.676944
           ...
1236   -102.344167
1237   -101.916944
1238   -101.715833
1239   -103.337500
1240   -102.576667
Name: LON, Length: 1241, dtype: float64

# Unir dataframes

---



> Para esta actividad, creo que esta funcion será de gran ayuda, ya que nos permite juntar dos tablas a la vez usando el metodo merge de la clase pandas.

In [73]:
df1 = pd.DataFrame(df)
df2 = pd.DataFrame(df)

df3 = pd.merge(df1,df2)

df3

#De alguna manera juntamos dos columnas, pero como sus columnas del head
#son iguales se omiten las replicas y nos queda la misma matriz de datos.

             LON        LAT  EDO CLAVE_SIH                       NOMBRE    ENE
0    -102.309722  21.895000  AGS     AGSAG         Aguascalientes, Ags.   6.61
1    -102.466944  22.188611  AGS     ANVAG  Cincuenta Aniversario, Ags.  10.60
2    -102.184167  21.738611  AGS     BRTAG            San Bartolo, Ags.  10.50
3    -102.712222  21.849167  AGS  CALVILLO          Calvillo, Ags. SMN*  18.17
4    -102.676944  21.997500  AGS     CDRAG            La Codorniz, Ags.  16.70
...          ...        ...  ...       ...                          ...    ...
1236 -102.344167  23.288611  ZAC     VCOZC           Villa de Cos, Zac.   7.00
1237 -101.916944  22.520278  ZAC     VGOZC  Villa González Ortega, Zac.  32.32
1238 -101.715833  22.347500  ZAC     VHGZC          Villa Hidalgo, Zac.   9.70
1239 -103.337500  21.588889  ZAC     VILZC     José María Morelos, Zac.  15.20
1240 -102.576667  22.761389  ZAC     ZACZC              Zacatecas, Zac.  12.02

[1241 rows x 6 columns]